/********************************************************************************************************/
/********************************************* Body and text ********************************************/
/********************************************************************************************************/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: lightsteelblue;
    background-color: #1f1b24;
}

header:not(nav) {
    margin-top: 75px;
}

/********************************************************************************************************/
/************************************************ Navbar ************************************************/
/********************************************************************************************************/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensures it takes full width */
    max-width: 100vw; /* Prevents overflow beyond viewport */
    overflow-x: hidden;
    z-index: 1000;
    background-color: #1f1b24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    border-bottom: 1px solid white;
}
nav h2 {
    /*width: 128px;*/
    padding: 0px 20px;
}
nav .menu {
    /* width: 250px;*/
    display: flex;
    gap: 1.5rem;
    padding: 0px 20px;
}

nav a:link,
nav a:visited {
    color: lightsteelblue;
    text-decoration: none;
}

nav a {
    position: relative;
    padding-bottom: 3px;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: white;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

nav a:hover {
    color: white;
}

/********************************************************************************************************/
/************************************************ Footer ************************************************/
/********************************************************************************************************/

footer {
    top: 0;
    left: 0;
    width: 100%; /* Ensures it takes full width */
    max-width: 100vw; /* Prevents overflow beyond viewport */
    overflow-x: hidden;
    background-color: #1f1b24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-top: 1px solid white;
    margin-top: 20px;
}
footer h2 {
    /*width: 128px;*/
    padding: 0px 20px;
}
footer .menu {
    /* width: 250px;*/
    display: flex;
    gap: 1.5rem;
    padding: 0px 20px;
}

footer a:link,
footer a:visited {
    color: lightsteelblue;
    text-decoration: none;
}

footer a {
    position: relative;
    padding-bottom: 3px;
}

footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: white;
    transition: width 0.3s ease;
}

footer a:hover::after {
    width: 100%;
}

footer a:hover {
    color: white;
}
